{% extends 'account/base.html' %}

{% block title %}{{ BANK_NAME }}{% endblock %}

{% block content %}
{% load static %}

<div class="banner flex bg-teal-500">
    <div class="flex-auto">
        <p class="text-4xl font-primary font-semibold text-white text-center">{{ BANK_NAME }}</p>
    </div>
</div>
<div class="bg-black-gradient px-dynamic">
    <ul class="text-center">
        <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Personnel</a>
        </li>
        <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Professionel</a>
        </li>
        <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Investir</a>
        </li>
        <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Contact</a>
        </li>
        <li class="inline-block py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">A Propos</a>
        </li>
    </ul>
</div>

<div class="m-auto">
    <div class="container-fluid flex">
    <div class="text-white ml-dynamic pt-40 flex-auto">
        <p class="text-3xl font-primary font-semibold mb-1">Bienvenue à {{ BANK_NAME }}</p>
        <p class="font-secondary text-lg">{{ random_phrase }}</p>
    </div>
    <div class="mr-dynamic">
        <div class="bg-gray-100 rounded-lg p-6 m-10 w-3/4 max-w-md shadow-xl">
            <p class="font-semibold text-2xl mb-4 font-secondary">Banque en ligne</p>

            <form method="post">
                {% csrf_token %}

                <div class="w-full max-w-xs font-tertiary">
                    <div class="mb-4">
                        <div class="relative">
                            <select
                                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-state">
                                <option>Personnel</option>
                                <option>Profesionnel</option>
                            </select>
                            <div
                                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <form class="bg-white shadow-2xl rounded px-8 pt-6 pb-8 mb-4">
                        <div class="mb-4">
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                name="username" required id="id_username" type="text" placeholder="Numero de compte">
                        </div>
                        <div class="mb-6">
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                name="password" required id="id_password" type="password" placeholder="Mot de passe">
                        </div>
                        <div class="flex items-center">
                            <button
                                class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-6"
                                type="submit">
                                Connexion
                            </button>
                            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                                href="#">
Nous rejoindre                            </a>
                        </div>
                    </form>

                    <p class="text-center text-gray-500 text-xs pt-4">
                        &copy;2019 {{ BANK_NAME }} Inc. All rights reserved.
                    </p>
                </div>
            </form>
        </div>

        <div class="bg-black-gradient text-white rounded-lg p-6 m-10 w-3/4 max-w-md shadow-2xl">
            <p class="text-2xl mb-2 font-semibold font-secondary">Application Mobile</p>

            <div class="font-tertiary">
                <p class="mb-4">Téléchargez dès aujourd'hui notre suite de services bancaires mobiles à la pointe de la technologie !</p>

                <p class="mb-4"><a href="#" class="link-primary">Try Mobile Banking</a></p>

                <div class="flex content-center">
                    <a href="#"><img src="{% static 'fakebank/img/logos/app-store-badge.svg' %}" class="h-10 mr-3"></a>

                    <a href="#"><img src="{% static 'fakebank/img/logos/google-play-badge.svg' %}" class="h-10"></a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="mx-dynamic py-24 w-5/12">
        <p class="text-2xl font-bold font-secondary mb-4">Nous résolvons les problèmes du monde de demain, aujourd'hui.</p>
        <div class="font-tertiary">
            <p>
                Nous sommes passionnés par l'obtention de votre argent dans notre banque et nous ne reculerons devant rien pour y parvenir dans les meilleurs délais.
                rien pour y parvenir dans
                d'aujourd'hui
                d'aujourd'hui, nous devons compter sur des alliés puissants.
                des alliés puissants. En tant qu'alliés puissants
                à
                nombreux leaders mondiaux puissants, nous pouvons être la réponse à vos problèmes,
                pour une somme modique.
            </p>
            <br>
            <p>                Saviez-vous que la banque peut résoudre un monde de problèmes ?
                Ici, à {{ BANK_NAME }}, nous résolvons les problèmes du monde de demain, aujourd'hui.
                Nous vous mettons au service de la communauté. Il n'y a pas d'agences physiques, donc nous pouvons garder l'épargne à flot.

            </p>
        </div>
    </div>

    <div class="bottom-container">
        <hr />

        <p class="text-center p-8 font-bold text-2xl font-secondary">Nous offrons des tarifs compétitifs et des prix bas</p>

        <div class="flex justify-between font-tertiary">
            <div class="w-64">
                <p class="text-center w-full">Taux fixe sur 15 ans></p>
                <p class="text-4xl font-bold text-center">13.37%</p>
                <div class="btn-details">
                    <div>
                        <a class="effect1" href="#">
                            Details
                            <span class="bg"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <p class="text-center w-full">Taux fixe sur 30 ans</p>
                <p class="text-4xl font-bold text-center">6.9%</p>
                <div class="btn-details">
                    <div>
                        <a class="effect1" href="#">
                            Details
                            <span class="bg"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <p class="text-center w-full">Jumbo à taux fixe de 30 ans</p>
                <p class="text-4xl font-bold text-center">9.99%</p>
                <div class="btn-details">
                    <div>
                        <a class="effect1" href="#">
                            Details
                            <span class="bg"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="font-tertiary leading-loose">
        <div class="footer flex justify-between flex-wrap border-t-8 border-teal-500">
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">GENERAL</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Rejoignez-nous</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Commentaires</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Métiers</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Emplacements</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Nous contacter</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Tarifs</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">BANQUE</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Verification</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Cartes de crédit</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Services bancaires</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Comptes certifiés</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Visa<sup>&reg;</sup> Cartes cadeaux</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Comptes des jeunes</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">PRÊTS</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Auto prêts</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Assurance automobile</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Prêts hypothécaires</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Assurance Habitation</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Hypothèque</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Prets perssonels</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Prets Cash</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">BUSINESS</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Chèque pour les entreprises</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Carte de crédit pour les entreprises</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Assurances pour les entreprises</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Prets pour entreprises</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Immobilier commercial</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">MENTIONS LEGALES</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Égalité des chances en matière de logement</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Federally Insured by NCUA</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">NMLS #928284</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Homeowner Assistance</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Termes & Conditions</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Accessibilité</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline"><strong></strong>Notice de confidentialité</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p id="escape">&copy; 2019 &mdash; {{ BANK_NAME }} Incorporated<sup>&reg;</sup> All
                    rights
                    reserved.</p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}