{% extends 'account/base.html' %}

{% block title %}{{ BANK_NAME }} &mdash; Transactions History{% endblock %}

{% block content %}
{% load static %}

$header

<div class="grid-container">

    <p class="font-semibold text-2xl font-secondary">Historique de transactions</p>
    <table class="table table-auto w-full font-tertiary shadow-xl rounded-lg mb-10">
        <tr>
            <th class="px-8 py-5">Date</th>
            <th class="px-8 py-5">Compte</th>
            <th class="px-8 py-5">Description</th>
            <th class="px-8 py-5">Type</th>
            <th class="px-8 py-5">Montant</th>
            <th class="px-8 py-5"></th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td class="px-8 py-5">{{ transaction.format_date }}</td>
            <td class="px-8 py-5">****{{ transaction.format_account_number }}</td>
            <td class="px-8 py-5">{{ transaction.description }}</td>
            <td class="px-8 py-5">{{ transaction.category }}</td>
            <td class="px-8 py-5">
                <p>{{ transaction.format_amount }}</p>
            </td>
            <td class="px-8 py-5">
                <a href="">
                    <p class="text-red-600 hover:underline">Contestation</p>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p class="font-tertiary text-sm text-gray-600">Nous n'affichons que les 30 derniers jours d'activité dans votre portail web.
        Veuillez utiliser l'application bancaire mobile pour consulter l'historique complet de vos transactions.</p>
</div>

{% endblock %}