<div class="banner bg-${pcol}-500">
        <p class="text-3xl 
            font-primary font-semibold text-white">{{ BANK_NAME }}</p>
    </div>
    
    <div class="menu">
        <ul class="flex-initial">
                <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                        href="./">Comptes</a></li>
                <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                        href="./transfer">Transferts</a></li>
                <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                        href="#">Contacts</a></li>
                <li class="inline-block py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                        href="../../">Deconnexion</a></li>
            </ul></div>
    </div>
    